.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}


.sidebar {

  width: 30%;
  position: absolute;
  left: 10px;
  top: 70px;
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  height: auto;
  border-radius: 8px;

}


.nav {
  list-style: none;
  margin: 0;

}

.navItem {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: left;
  font-weight: 600;
  color: #3B3C51;
  font-size: 10px;
  padding: 6px 10px;
  transition: background-color 0.3s, color 0.3s;
}

.navItem:hover {
  background-color: #f0f0f0;
  text-decoration: none;
}

.active {
  background-color: #e3f2fd;
  color: #1B48DA;
  font-weight: 700;

}

.btns {

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px
}

.settings {
  margin-top: 50px;
  border-top: 2px #F6F6F9 solid;
  padding: 20px 12px;
  border-radius: 0px;
  border-bottom: 2px #F6F6F9 solid;
}